main.employer .content .info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
main.employer .content .info .label, main.employer .content .info .select-worker-type {
    font-size: 1.4rem;
}

.pay-worker-btn {
    width: 100%;
    text-align: center;
    margin: auto;
    max-width: 20rem;
}